
:active, :focus {
    outline: 0;
}

body {
    margin: 0;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;    
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
    padding: 0;
}
pre {
    margin: 0;
}

input {
    // reset all default styles
    all: unset;
}
 // disable firefox numer input up/down arrows
input[type=number] {
    -moz-appearance: textfield;
}

//disabled up/down arrows in Chrome and Safari
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    // reset all default styles
    all: unset;
}